@let(labelTextFromSlot = await $slots.main())
@let(labelText = labelTextFromSlot.trim() ? labelTextFromSlot : $props.get('text'))
@let(userClass = $props.get('class'))
@let(classes = [
  'text-sm',
  'font-semibold',
  'text-slate-700',
  userClass,
].filter(Boolean))

<label {{ $props
  .except(['text', 'class'])
  .merge({
    for: $context.id,
    class: classes,
    'data-invalid': $context.hasErrors ? 'true' : false,
  })
  .toAttrs() }}>{{{ labelText }}}</label>
